.main-header ion-toolbar {
  --background: #ff4d4f;
  /* rojo */
  --color: #ffffff;
  /* texto blanco */
}

.header-logo {
  height: 35px;
  width: auto;
  margin-left: 10px;
  object-fit: contain;
}

.top-search {
  flex: 1;
  /* ocupa el espacio restante */
  max-width: 520px;
  width: 100%;
  margin: 10px 1px 0 1px;
  --background: #ffffff;
  --color: #797979;
  --placeholder-color: #797979;
  --icon-color: #797979;
  --clear-button-color: #797979;
  border-radius: 12px;
}

.top-actions ion-button {
  --color: #ffffff;
  /* iconos blancos */
}

.top-actions ion-icon {
  font-size: 30px;
}

.tabs-root ion-router-outlet {
  position: relative;
  z-index: 1;
}

.tabs-root ion-tab-bar {
  z-index: 10;
}

.main-header ion-toolbar {
  --padding-start: 0;
  --padding-end: 0;
}

.toolbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 8px;
  /* space for buttons */
}

ion-modal#modal-juegos {
  --width: 92%;
  --height: 85%;
  --max-width: 500px;
  --max-height: 800px;
  --border-radius: 20px;
  --box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  --backdrop-opacity: 0.7;
}