<ion-header class="header-red">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab5" text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Categorías Favoritas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="top-info">
    <h2>Elige tus favoritas</h2>
    <p>Puedes seleccionar hasta <b>5 categorías</b> para recibir mejores chollos.</p>
  </div>


  <div class="counter">
    {{ favoritasSeleccionadas.length }}/5seleccionadas
  </div>


  <div class="categorias-grid">

    <ion-card *ngFor="let categoria of categorias" class="categoria-card" [class.selected]="categoria.seleccionada"
      (click)="toggleCategoria(categoria)">

      <div class="card-content">

        <div class="icon-wrapper">
          <img [src]="categoria.img" [alt]="categoria.nombre" style="width: 40px; height: 40px; object-fit: contain;">
        </div>

        <div class="info">
          <h3>{{ categoria.nombre }}</h3>
        </div>

        <div class="check" *ngIf="categoria.seleccionada">
          <ion-icon name="checkmark-circle"></ion-icon>
        </div>

      </div>

    </ion-card>

  </div>
  <div class="save-area">
    <ion-button expand="block" [disabled]="favoritasSeleccionadas.length !== 5" (click)="guardarCategorias()">
      Guardar Preferencias
    </ion-button>

    <p class="hint">Podrás cambiar estas categorías cuando quieras.</p>
  </div>

</ion-content>