<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Pasar Authorization header a PHP (Vital para que funcionen los tokens y el login)
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
</IfModule>